span{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}



@keyframes load {
  0% {
    opacity: 1;
  }

  100%{
    opacity: 0;
  }

}

.loader{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  animation: load 1.5s ease-in-out infinite alternate;
}
